---
import { actions } from 'astro:actions'
import { cn } from '@/lib/utils'
import BaseLayout from './BaseLayout.astro'
import { Header } from '@/components/layout/Header'
import { Menu } from '@/components/layout/Menu'

type Props = {
	title: string
	headerTitle: string
	description?: string
	bodyClass?: string
}

const { title, headerTitle, description, bodyClass } = Astro.props

if (!Astro.locals.user) {
	return Astro.redirect('/login')
}

const userResult = await Astro.callAction(actions.user.find, {
	id: Astro.locals.user.id,
})

if (!userResult || userResult.error || !userResult.data) {
	return Astro.redirect('/login')
}

const coursesResult = await Astro.callAction(actions.course.search, {
	userId: Astro.locals.user.id,
})

const user = userResult.data
const courses = coursesResult?.data || []
---

<BaseLayout title={title} description={description}>
	<Header title={headerTitle} user={user} client:load />

	<main class={cn(bodyClass)}>
		<slot />
	</main>

	<Menu {courses} client:load />

	<!-- <Footer /> -->
</BaseLayout>
