---
import BaseLayout from '@/layouts/BaseLayout.astro'
import styles from '@/styles/markdown.css?raw'
import { actions } from 'astro:actions'
import { marked } from 'marked'

if (!Astro.locals.user || !Astro.params.lessonId) {
	return Astro.redirect('/login')
}

const result = await Astro.callAction(actions.lesson.find, {
	id: Astro.params.lessonId,
})

if (!result || result.error || !result.data) {
	return Astro.redirect('/login')
}

const lesson = result.data

const content = marked.parse(lesson.content || '')

if (lesson?.videoId?.length && !lesson?.video?.length) {
	await fetch('/api/lessons/generate/video-result', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
		},
		body: JSON.stringify({ lesson }),
	})
}
---

<BaseLayout title={lesson.title}>
	<main>
		<style is:inline set:html={styles}></style>
		<div class='w-full'>
			{
				lesson?.image?.length && (
					<img class='block rounded-md' src={lesson.image} alt={lesson.title} />
				)
			}
		</div>
		<div class='w-full'>
			{
				lesson?.video?.length && (
					<video class='block rounded-md' src={lesson.video} controls />
				)
			}
		</div>
		<article
			class='markdown-body'
			style='padding: 24px; max-width: 900px; margin: 0 auto;'
			set:html={content}
		/>
	</main>
</BaseLayout>
